@import "src/styles/colors";
@import "src/styles/mixins";

.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  .separateLine {
    background-color: $international-orange;
    height: 11px;
    width: 100%;
  }

  .footerBackground {
    background-color: $wedgewood;
    width: 100%;

    .mainBlock {
      display: flex;
      height: 121px;
      width: 100%;
      align-items: center;
      @include max-width-mixin;

      .logo {
        width: 400px;
        height: 51px;
      }

      .links {
        display: flex;
        margin-left: 10%;

        a {
          font-family: Lato;
          font-size: 24px;
          font-weight: 600;
          color: white;
          margin: 0 10px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .additionalText {
    text-align: center;
    width: 100%;

    span {
      font-family: Lato;
      font-size: 18px;
      font-weight: 100;
      color: $jelly-bean;
      line-height: 1.78;

      &:first-child {
        font-style: italic;
      }
      &:last-child {
        font-weight: 900;
      }
    }
  }
}